@import 'utility/colors';

.person
{
    align-items: center;
    display: flex;
    margin-bottom: 5vh;

    &_description
    {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-left: 5vw;
    }
}

.divider
{
    border: 1px solid $mid-blue;
    width: 50%;
}

.image
{
    overflow: hidden;
    width: 225px;
    height: 300px;
}

@media (max-width: 900px) { 
    
    .person
    {
        flex-direction: column;
        align-items: flex-start;

        &_description
        {
            width: 100%;
            margin: 0;

            h2
            {
                margin: 0;
            }
        }
    }

    .divider
    {
        margin: 10vw 0;
        width: 80%;
    }

    .image
    {
        margin-bottom: 10vw;
    }

    .personList
    {
        padding: 0;
    }
 }