@import 'utility/colors';

@font-face {
  font-family: "Myriad Pro";
  src: url('/fonts/MyriadPro-Light.woff');
}

@font-face {
  font-family: "Myriad Pro Regular";
  src: url('/fonts/MyriadPro-Regular.woff');
}

@font-face {
  font-family: "Univers";
  src: url('/fonts/UniversCondensed.ttf');
}


body {
  font-family: "Myriad Pro";
  background-color: $light-blue;
  margin: 0;
  padding: 0;
  color: $dark-blue;
}

html
{
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

h2 {
  font-size: 48px;
  font-weight: 50;
}

h3 {
  font-size: 32px;
  font-weight: 50;
}

h4 {
  font-size: 28px;
  font-weight: 50;
}

h4 {
  font-size: 24px;
  font-weight: 50;
}

p {
  font-size: 24px;
  font-weight: 50;
}