@import 'utility/colors';


.grid {  
    gap: 0.15vw;
    width: 100vw;
    height: 75vh;
    margin: 5vw -10vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-auto-flow: column;
    grid-template-areas:
      "Picture-1 Picture-1 Picture-3 Picture-3 Picture-5 Picture-6 Picture-6"
      "Picture-2 Picture-2 Picture-3 Picture-3 Picture-5 Picture-6 Picture-6"
      "Picture-2 Picture-2 Picture-4 Picture-4 Picture-4 Picture-6 Picture-6";
  }

  .Picture
  {
    
    overflow-y: scroll;
    padding: 0.5vw;
    background-color: $dark-blue;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &::-webkit-scrollbar
    {
      display: none;
    }
  }

  .Picture > h2
  {
    word-break: normal;
    margin: 0;
    opacity: 0%;
    z-index: 1;
    font-size: 2vw;
  }

  .Picture > p
  {
    word-break: normal;
    margin-top: 0.25vw;
    opacity: 0%;
    z-index: 1;
    font-size: 1.5vw;
  }

  .Picture:hover > h2
  {
    transition: all 0.25s ease-out;
    color: $light-blue;
    opacity: 100%;
  }

  .Picture:hover > p
  {
    transition: all 0.25s ease-out;
    color: $light-blue;
    opacity: 100%;
  }

  .Picture:hover > span > img
  {
    transition: all 0.25s ease-out;
    opacity: 20%;
    cursor: pointer;
  }
  
  .Picture1 { position: relative; grid-area: Picture-1; }
  
  .Picture2 { position: relative; grid-area: Picture-2; }
  
  .Picture3 { position: relative; grid-area: Picture-3; }
  
  .Picture4 { position: relative; grid-area: Picture-4; }
  
  .Picture5 { position: relative; grid-area: Picture-5; }
  
  .Picture6 { position: relative; grid-area: Picture-6; }
  
  @media (min-width: 2000px) 
{
  .grid 
  {
    margin: 5vw -20vw;
  }
}

@media (max-width: 992px) 
{
  .Picture > h2
  {
    font-size: 3vw;
  }

  .Picture > p
  {
    font-size: 2vw;
  }
  .grid {
    margin: 5vw -5vw;
    
    grid-template-areas:
      "Picture-1 Picture-1 Picture-3 Picture-3 Picture-3 Picture-6 Picture-6"
      "Picture-2 Picture-2 Picture-3 Picture-3 Picture-3 Picture-6 Picture-6"
      "Picture-2 Picture-2 Picture-4 Picture-4 Picture-4 Picture-6 Picture-6";
  }

  .Picture5 { display: none;}
}

@media (max-width: 768px) 
{
  .Picture > h2
  {
    font-size: 4vw;
  }

  .Picture > p
  {
    font-size: 3vw;
  }
  .grid {
    margin: 5vw -10vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  }

  .Picture6 { display: none;}
}

@media (max-width: 576px) 
{

  .Picture > p
  {
    display: none;
  }

  .Picture
  {
    align-items: center;
    justify-content: center;
  }

  .grid {
    margin: 15vw -5vw;
  }
}

@media (max-width: 450px) 
{
  
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr; 
  }
}