@import 'utility/colors';

.bold
{
  font-family: Myriad Pro Regular;
}

.about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 5vw;
}

.main {
  width: 100%;
  max-width: 800px;

  .image {
    position: relative;
    margin: 5vh 0;
    width: 100%;
    height: 40vh;
    
  }

  p {
    margin: 0;
  }
}



// Medium devices (tablets, 768px and down)
@media (max-width: 768px) 
{
  // .about {
  //   grid-template-columns: 1fr;
  //   grid-template-rows: 1fr 0.5fr;
  //   height: min-content;
  // }

  .about {
    display: flex;
    flex-direction: column;
  }

  .news
  {
    height: max-content;
  }
  
}

