.container
{
    word-break: break-all;

    h2
    {
        font-size: xx-large;
        font-family: Myriad Pro Regular;
    }

    h3
    {
        font-family: Myriad Pro Regular;
        font-size: 24px;
    }
}