@import 'utility/colors';

.description
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10vw;

    &_aside
    {
        justify-content: center;
        display: flex;
        gap: 1vw;
        flex-direction: column;
    }
}

.contents
{
    margin-top: 5vw;
    gap: 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr;

    &_list
    {
        li
        {
            font-size: 32px;
            margin-bottom: 1vw;
        }

        list-style-position: outside;
        
        list-style-type: decimal;
    }
}

.carousel_container
{
    display: flex;
    align-items: center;
    justify-content: center;
}



.image
{
    position: relative;
    background-color: $dark-blue;
    height: 25vh;
    width: 20vw;
}