.news {
    text-align: right;
    width: 100%;
  
    time {
      font-size: 1.5em;
    }
  
    .news_list_container {
      max-height: 60em;
      overflow-y: scroll;
    }

    
  
    .news_list {
      padding-right: 2vw;
      list-style-type: none;
  
      li {
        margin-bottom: 10vh;
      }
  
      p {
        margin: 0;
        font-size: 20px;
      }
  
      h3, time {
        font-family: "Myriad Pro Regular";
        margin: 0;
      }
    }
  }

  @media (max-width: 1000px) 
{

  .news
  {
    time
    {
      font-size: 2vw;
    }
  }
  
}


// Medium devices (tablets, 768px and down)
@media (max-width: 768px) 
{

  .news
  {
    height: max-content;
    time
    {
      font-size: 2.5vw;
    }
  }
  
}



@media (max-width: 576px) 
{
  .news
  {
    text-align: center;
    time
    {
      font-size: 4vw;
    }

    &_list
    {
      padding: 0;
    }
  }
}

